<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 class = 'text-center'style="color: green">You Got {{items || 0}} items  in your Cart</h4>
            <div class="modal-body" >
                <h3>Sure You Want to Leave</h3>
                <div class = 'btn-group-lg'>
                    <button type="button" class="btn btn-danger" ng-click="response('yes')">Leave</button>
                    <button type="button" class="btn btn-primary" ng-click="response('no')">Stay</button>
                </div>
                </form>
            </div>

        </div>
    </div>
</div>